<div class="container">
	<form #editCompanyForm="ngForm" name="editCompanyForm">
		<div class="row mt-3">
			<div class="col text-left btn-back">
				<button type="button" class="btn btn-outline-secondary" routerLink="/companies">
					<i class="fa fa-arrow-left" aria-hidden="true"></i>
					Back
				</button>
			</div>
			<div class="col text-right">
				<button *ngIf="!editMode" type="button" class="btn btn-primary" (click)="enterEditMode()">
					<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
					Edit
				</button>
				<button *ngIf="editMode" type="button" class="btn btn-success" (click)="saveChanges()" [disabled]="!editCompanyForm.valid">
					<i class="fa fa-floppy-o" aria-hidden="true"></i>
					Save
				</button>
				<button *ngIf="!editMode" type="button" class="btn btn-danger ml-3" (click)="removeCompany()">
					<i class="fa fa-trash-o" aria-hidden="true"></i>
					Remove
				</button>
				<button *ngIf="editMode" type="button" class="btn ml-3" (click)="cancel()">Cancel</button>
			</div>
		</div>
		<div class="row mt-3" *ngIf="companyDetailsLoaded">
			<div class="col-md-5 mb-3">
				<img [src]="selectedCompanyEl.logo" class="img-fluid mb-3" alt="">

				<div *ngIf="editMode" class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Logo url</span>
					</div>
					<input type="text" [(ngModel)]="selectedCompanyEl.logo" class="form-control" name="companyLogo">
				</div>
			</div>
			<div class="col-md-7">
				<h5 *ngIf="!editMode" class="card-title">{{selectedCompanyEl.company}}</h5>

				<div *ngIf="editMode" class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Company name</span>
					</div>
					<input type="text" [(ngModel)]="selectedCompanyEl.company" class="form-control" name="companyName" required>
				</div>

				<h6 *ngIf="!editMode" class="card-subtitle mb-2 text-muted">{{selectedCompanyEl.industry}}</h6>

				<div *ngIf="editMode" class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text">Industry</span>
					</div>
					<input type="text" [(ngModel)]="selectedCompanyEl.industry" class="form-control" name="companyIndustry" required>
				</div>

				<p *ngIf="!editMode" class="card-text">{{selectedCompanyEl.about}}</p>

				<div *ngIf="editMode" class="input-group about">
					<div class="input-group-prepend">
						<span class="input-group-text">About company</span>
					</div>
					<textarea class="form-control" [(ngModel)]="selectedCompanyEl.about" name="companyAbout"></textarea>
				</div>

				<div class="row">
					<div class="col-md-12">
						<table class="table table-striped">
							<thead>
								<tr>
									<th scope="col">Projects</th>
									<th scope="col">Name:</th>
									<th scope="col">End date:</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let project of selectedCompanyEl.projects; let i = index">
									<td>{{i + 1}}</td>
									<td>{{project.name}}</td>
									<td>{{project.enddate}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>