.card {
	box-shadow: 0;
	transition: all 200ms;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

	.trash-icon-container {
		position: absolute;
		top: 5px;
		right: 5px;
		background-color: #ffffff;
		border-radius: 50%;
		visibility: hidden;
		opacity: 0;
		transition: all 200ms;
		box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	}
	.icon-delete {
		padding: 10px;
		transition: all 200ms;

		&.fa-2x {
			font-size: 1.2em;
		}

		&:hover {
			color: #dc3545;
		}
	}

	.text-muted {
		color: #ffffff !important;
		background-color: #B52E31;
		border-radius: 4px;
		display: inline-block;
		padding: 5px 10px;
	}

	.card-img-holder {
		width: 100%;
		text-align: center;

		.card-img-top {
			max-width: 100%;
		}
	}

	&:hover {
		box-shadow: 0 6px 9px rgba(0,0,0,0.16), 0 6px 9px rgba(0,0,0,0.23);
		cursor: pointer;

		.trash-icon-container {
			visibility: visible;
			opacity: 1;
		}
	}

	.card-text {
		overflow: hidden;
		position: relative;
		margin-right: -1em;
		padding-right: 1em;
		line-height: 1.3em;
	}
	
}