.card {
	box-shadow: 0;
	transition: all 200ms;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

	.icon-delete {
		position: absolute;
		right: 5px;
		top: 5px;
		visibility: hidden;
		opacity: 0;
		transition: all 200ms;

		&.fa-2x {
			font-size: 1.2em;
		}

		&:hover {
			color: #dc3545;
		}
	}

	.card-img-holder {
		width: 100%;
		text-align: center;

		.card-img-top {
			max-width: 100%;
		}
	}

	&:hover {
		box-shadow: 0 6px 9px rgba(0,0,0,0.16), 0 6px 9px rgba(0,0,0,0.23);
		cursor: pointer;

		.icon-delete {
			visibility: visible;
			opacity: 1;
		}
	}

	.card-text {
		overflow: hidden;
		position: relative;
		height: 160px;
		margin-right: -1em;
		padding-right: 1em;
		line-height: 1.3em;

		&:after {
			content: '';
			text-align: right;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 70%;
			height: 1.2em;
			background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
		}
	}
	
}