.card {
	box-shadow: 0;
	transition: all 200ms;
	max-height: 376px;

	.icon-delete {
		position: absolute;
		right: 5px;
		top: 5px;
		visibility: hidden;
		opacity: 0;
		transition: all 200ms;

		&.fa-2x {
			font-size: 1.2em;
		}

		&:hover {
			color: #dc3545;
		}
	}

	.card-img-holder {
		width: 100%;
		text-align: center;

		.card-img-top {
			width: auto;
			max-width: 100%;
			max-height: 112px;
		}
	}

	&:hover {
		box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3), 0 12px 12px 0 rgba(0, 0, 0, 0.15);
		cursor: pointer;

		.icon-delete {
			visibility: visible;
			opacity: 1;
		}
	}

	.card-text {
		overflow: hidden;
		position: relative;
		height: 165px;
		margin-right: -1em;
		padding-right: 1em;
		line-height: 1.3em;

		&:after {
			content: '';
			text-align: right;
			position: absolute;
			bottom: 0;
			right: 0;
			width: 70%;
			height: 1.2em;
			background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
		}
	}
	
}